{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1  style="display: flex; justify-content: center; align-items: center; height: 10vh;">Welcome to Bid Realm—Where Value Meets Vision</h1>
    
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="{% static 'images/logo_transparent.png' %}" alt="BidRealm Logo">
    </div>

    <h3>
    
        <p>Step into a world of possibilities where exceptional opportunities are just a bid away. At Bid Realm, we connect buyers and sellers in a seamless auction experience across diverse categories. Whether you're listing a luxury property, bidding on rare collectibles, or exploring unique offerings, we elevate every auction to a realm of unparalleled value.</p>  

    </h3>    
    

    <h4> <p>Discover the Difference:</p> </h4>

    <h5>
        
        <p>Trusted Platform for Secure Transactions</p>
        <p>Curated Listings Across Diverse Categories</p>
        <p>Innovative Tools for Buyers and Sellers</p>
        <p>Join us in redefining the auction experience—where every bid brings you closer to extraordinary value.</p>

    </h5
    >
{% endblock %}
